<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>center_monitor.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1368EF71A60F6EDAC51E16BAB2A41B23FBB3B77C</string>
				<key>dateExpires</key>
				<string>12/4/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1368EF71A60F6EDAC51E16BAB2A41B23FBB3B77C</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7T35K2C6U</string>
						<key>name</key>
						<string>OPTILO Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1368EF71A60F6EDAC51E16BAB2A41B23FBB3B77C</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7T35K2C6U</string>
						<key>name</key>
						<string>OPTILO Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1368EF71A60F6EDAC51E16BAB2A41B23FBB3B77C</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>bitmap.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7T35K2C6U</string>
						<key>name</key>
						<string>OPTILO Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1368EF71A60F6EDAC51E16BAB2A41B23FBB3B77C</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7T35K2C6U</string>
						<key>name</key>
						<string>OPTILO Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1368EF71A60F6EDAC51E16BAB2A41B23FBB3B77C</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7T35K2C6U</string>
						<key>name</key>
						<string>OPTILO Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1368EF71A60F6EDAC51E16BAB2A41B23FBB3B77C</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7T35K2C6U</string>
						<key>name</key>
						<string>OPTILO Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1368EF71A60F6EDAC51E16BAB2A41B23FBB3B77C</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7T35K2C6U</string>
						<key>name</key>
						<string>OPTILO Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1368EF71A60F6EDAC51E16BAB2A41B23FBB3B77C</string>
						<key>dateExpires</key>
						<string>12/4/25</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>R7T35K2C6U</string>
						<key>name</key>
						<string>OPTILO Co., Ltd.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>R7T35K2C6U.com.optilo.centerMonitor</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>R7T35K2C6U</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c2aa533b-12bc-4fab-9063-cd70e52ef0ae</string>
				<key>dateExpires</key>
				<string>12/4/25</string>
				<key>name</key>
				<string>dev_centerMonitor,adhoc_centerMonitor</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>R7T35K2C6U</string>
				<key>name</key>
				<string>OPTILO Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.3</string>
		</dict>
	</array>
</dict>
</plist>
